initialize() {
	initializeSLiMModelType("nonWF");
	if (exists("slimgui")) {
		defineConstant("N",1000);
		defineConstant("rab",0.01);
		defineConstant("sb",0.1);
		defineConstant("sd",0.02);
	}
	
	defineConstant("SIM_ID", getSeed());
	initializeMutationRate(0);
	
	// deleterious allele with selection coefficient sd and fully dominant (because of haploid selection)
	initializeMutationType("m1", 1.0, "f", -sd);
	// balanced allele under negative frequency-dependent selection (implemented when fitness is rescaled as a late event)
	initializeMutationType("m2", 1.0, "f", sb);
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	
	// 2 sites along the chromosome
	initializeGenomicElement(g1, 0, 1);
	initializeRecombinationRate(rab);
	
	c(m1,m2).convertToSubstitution = F;
	m1.mutationStackPolicy = "f";
	m2.mutationStackPolicy = "f";
}

1 early() {
	sim.addSubpop("p1", N, haploid=T);
	setwd("/home/roman/Dropbox/Post_doc_Edinburgh/Model/Slim_simulations");
	//setwd("/home/rstetsen/hitchhiking_slim/");
}

1 late () {
	target=sample(p1.individuals,1);
	target.genome1.addNewDrawnMutation(m1,0);
	target.genome1.addNewDrawnMutation(m2,1);
	defineConstant("CHECKPOINT", "slim_" + SIM_ID + ".txt");
	sim.outputFull(CHECKPOINT);
}

1: late(){	// checking conditions for hitchhiking
	
	delmut=sim.subpopulations.individuals.genome1.mutationsOfType(m1);
	balmut=sim.subpopulations.individuals.genome1.mutationsOfType(m2);
	
	if (size(delmut)!=0) // if the deleterious mutation is not lost, its frequency is stored
	{
		freqdel=sim.mutationFrequencies(NULL,delmut)[0];
	}
	
	if (size(balmut)!=0) // if the balancing mutation is not lost, its frequency is stored
	{
		freqbal=sim.mutationFrequencies(NULL,balmut)[0];
	}
	
	if (size(balmut)==0) { // if the balancing allele is lost, the simulation restarts from tick 1
		sim.readFromPopulationFile(CHECKPOINT);
	}
	
	if (size(balmut)!=0) // if the balancing allele is not lost
	{
		if (freqbal==1) { // and if it is fixed
			if (size(delmut)!=0) // and if the deleterious mutation is not lost
			{
				if (freqdel==1) { // and if the deleterious mutation is also fixed
					writeFile(paste("out_dir_sel_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt",sep=""), paste(sim.cycle ,"1"),append=T); // it is recorded as a successful partial hitchhiking in the outputfile
					sim.simulationFinished();
				}
			} else { // else
				writeFile(paste("out_dir_sel_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt",sep=""), paste(sim.cycle ,"0"),append=T);
				sim.simulationFinished();
			}
		}
	}
}

50000 late(){
	writeFile(paste("out_dir_sel_out_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt"), paste(sim.cycle ,"TIME EXPIRED"),append=T);
	sim.simulationFinished();
}

reproduction(p1) {
	// parents are chosen in proportion to their fitness
	inds = p1.individuals;
	fitness = rep(1.123,N); 
	
	balmut=sim.subpopulations.individuals.genome1.mutationsOfType(m2);
	if (size(balmut)!=0) // if the balancing mutation is not lost, its frequency is stored
	{
		freqbal=sim.mutationFrequencies(NULL,balmut)[0];
	}
	
	for (i in seqLen(N)) {
		ind = inds[i];
		delmutcount=ind.genome1.countOfMutationsOfType(m1);
		balmutcount=ind.genome1.countOfMutationsOfType(m2);
		
		fitness[i] = (1.0-sd*delmutcount)*(1.0+sb*balmutcount);	
	}
	
	parents1 = sample(inds, N, replace=T, weights=fitness);
	parents2 = sample(inds, N, replace=T, weights=fitness);
	for (i in seqLen(N)) {
		breaks = sim.chromosome.drawBreakpoints(inds[i]);
		if (runif(1) <= 0.5) {
			p1.addRecombinant(parents1[i].genome1, parents2[i].genome1,breaks,NULL,NULL,NULL,randomizeStrands = T);
		} else {
			p1.addRecombinant(parents2[i].genome1, parents1[i].genome1,breaks,NULL,NULL,NULL,randomizeStrands = T);		
		}
	}
	self.active = 0;
}

survival(p1) {
	// survival is independent of fitness; parents die, offspring live
	return (individual.age == 0);
}
