initialize() {
        initializeSLiMModelType("nonWF");
        if (exists("slimgui")) {
                defineConstant("N",10000);
                defineConstant("rab",0.001);
                defineConstant("sb",0.07);
                defineConstant("sa",0.02);
                defineConstant("rep",1);
        }

        defineConstant("SIM_ID", getSeed());
        initializeMutationRate(0);

        // deleterious allele with selection coefficient sa and fully dominant (because of haploid selection)
        initializeMutationType("m1", 1.0, "f", -sa);
        // balanced allele under negative frequency-dependent selection (implemented when fitness is rescaled as a late event)
        initializeMutationType("m2", 0.5, "f", 0.0);

        // g1 genomic element type: uses m1 for all mutations
        initializeGenomicElementType("g1", m1, 1.0);

        // 2 sites along the chromosome
        initializeGenomicElement(g1, 0, 1);
        initializeRecombinationRate(rab);

        c(m1,m2).convertToSubstitution = F;
        m1.mutationStackPolicy = "f";
        m2.mutationStackPolicy = "f";
}

1 early() {
        sim.addSubpop("p1", N, haploid=T);
        //setwd("/home/roman/Dropbox/Post_doc_Edinburgh/Model/Slim_simulations/sojourn_time_haploid_2");
        setwd("/home/rstetsen/hitchhiking_slim/freq_ab_4/");
}

1 late () {
        target=sample(p1.individuals,1);
        target.haploidGenome1.addNewDrawnMutation(m1,0);
        target.haploidGenome1.addNewDrawnMutation(m2,1);
        defineConstant("CHECKPOINT", "slim_" + SIM_ID + ".txt");
        sim.outputFull(CHECKPOINT);
}

1: late(){      // checking conditions for hitchhiking
        delmut=sim.subpopulations.individuals.haploidGenome1.mutationsOfType(m1);
        balmut=sim.subpopulations.individuals.haploidGenome1.mutationsOfType(m2);
        freqab=size(sim.subpopulations.individuals[sim.subpopulations.individuals.haploidGenome1.countOfMutationsOfType(m2)==1 & sim.subpopulations.individuals.haploidGenome1.countOfMutationsOfType(m1)==1])/N;
        freqrec=size(sim.subpopulations.individuals[sim.subpopulations.individuals.haploidGenome1.countOfMutationsOfType(m2)==1 & sim.subpopulations.individuals.haploidGenome1.countOfMutationsOfType(m1)==0])/N;
        if (sim.cycle==2)
        {
                        writeFile(paste("freqab_",rep,"_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt",sep=""), paste(sim.cycle ,freqab, freqrec),append=F);
                        //writeFile(paste("freqab_",rep,"_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt",sep=""), paste(sim.cycle ,freqab, freqrec),append=F);
        } else {
                        writeFile(paste("freqab_",rep,"_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt",sep=""), paste(sim.cycle ,freqab, freqrec),append=T);
                        //writeFile(paste("freqab_",rep,"_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt",sep=""), paste(sim.cycle ,freqab, freqrec),append=T);
        }
        freqdel=size(sim.subpopulations.individuals[sim.subpopulations.individuals.haploidGenome1.countOfMutationsOfType(m1)==1])/N;
        if (size(balmut)==0)
        { // if the balancing allele is lost, the simulation restarts from tick 1
                sim.readFromPopulationFile(CHECKPOINT);
        }

        if (size(delmut)==0 & freqrec>0) // if the deleterious mutation is lost, end the simulation
        {
                sim.simulationFinished();
        }  
     
}

50000 late(){
        //writeFile(paste("prob_hh_N",N,"_sb",sb,"_sd",sd,"_rab",rab,".txt"), paste(sim.cycle ,"TIME EXPIRED"),append=T);
        sim.simulationFinished();
}

reproduction(p1) {
        // parents are chosen in proportion to their fitness
        inds = p1.individuals;
        fitness = rep(1.123,N);

        balmut=sim.subpopulations.individuals.haploidGenome1.mutationsOfType(m2);
        if (size(balmut)!=0) // if the balancing mutation is not lost, its frequency is stored
        {
                freqbal=sim.mutationFrequencies(NULL,balmut)[0];
        }

        for (i in seqLen(N)) {
                ind = inds[i];
                delmutcount=ind.haploidGenome1.countOfMutationsOfType(m1);
                balmutcount=ind.haploidGenome1.countOfMutationsOfType(m2);

                fitness[i] = (1.0-sd*delmutcount)*((1.0-sb*freqbal)*balmutcount+(sb*(1.0-freqbal)-1.0)*(balmutcount-1.0));      
        }

        parents1 = sample(inds, N, replace=T, weights=fitness);
        parents2 = sample(inds, N, replace=T, weights=fitness);
        for (i in seqLen(N)) {
                breaks = sim.chromosome.drawBreakpoints(inds[i]);
                if (runif(1) <= 0.5) {
                        p1.addRecombinant(parents1[i].haploidGenome1, parents2[i].haploidGenome1,breaks,NULL,NULL,NULL,randomizeStrands = T);
                } else {
                        p1.addRecombinant(parents2[i].haploidGenome1, parents1[i].haploidGenome1,breaks,NULL,NULL,NULL,randomizeStrands = T);         
                }
        }
        self.active = 0;
}


survival(p1) {
        // survival is independent of fitness; parents die, offspring live
        return (individual.age == 0);
}
